.orders {
    display: flex;
    justify-content: space-between;
}

.ingredients {
    width: 45%;
}

.list {
    display: flex;
    justify-content: space-between;
    border: 2px solid darkblue;
    margin: 10px;
}

.names {
    width: 25%;
    text-align: center;
    margin: auto;
}

.btn {
    width: 15%;
    text-align: center;
    display: inline-block;
    margin: auto;
}

.burger {
    width: 45%;
}